#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Lots of shameless copy-paste from the debian package for prometheus

DH_VERBOSE=1
DH_GOPKG=github.com/containers/libpod
BUILDDIR := $(shell pwd)
DESTDIR := $(BUILDDIR)/debian/podman
PREFIX := $(DESTDIR)/usr
ETCDIR := $(DESTDIR)/etc
BINDIR := $(PREFIX)/bin
MANDIR := $(PREFIX)/share/man
SYSTEMDDIR := $(PREFIX)/lib/systemd/system
BUILDTAGS := "seccomp systemd containers_image_ostree_stub"
BUILD_INFO=$(shell date +%s)
LDFLAGS_PODMAN="-X main.gitCommit=$(GIT_COMMIT) -X main.buildInfo=$(BUILD_INFO)"
GO := /usr/bin/go

%:
	dh_clean
	make clean
	rm -rf $(BUILDDIR)/src
	dh $@ --buildsystem=golang --with=golang --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=golang
	# Include vendored dependencies.
	cp -rp $(BUILDDIR)/vendor $(BUILDDIR)/src
	#sed -i 's/ go / \/usr\/lib\/go-1.10\/bin\/go /' cmd/podman/varlink/generate.go 
	mkdir -p $(BUILDDIR)/src/github.com/containers
	ln -s $(BUILDDIR) $(BUILDDIR)/src/$(DH_GOPKG)
	sed -i '/seccomp.json/d' Makefile
	sed -i '/bin\/podman-remote/d' Makefile

override_dh_auto_build:
	GOPATH=$(BUILDDIR) $(GO) generate ./cmd/podman/varlink/...
	GOPATH=$(BUILDDIR) make GO=$(GO) BUILDTAGS=$(BUILDTAGS) LDFLAGS_PODMAN=$(LDFLAGS_PODMAN) podman docs docker-docs
	rm -rf $(BUILDDIR)/obj-*-linux-gnu

override_dh_auto_test:

override_dh_auto_install:
	install PREFIX=$(PREFIX) -dp $(SYSTEMDDIR)
	make PREFIX=$(PREFIX) ETCDIR=$(ETCDIR) BINDIR=$(BINDIR) MANDIR=$(MANDIR) \
	   install.bin \
	   install.cni \
	   install.completions \
	   install.config \
	   install.man \
	   install.systemd

override_dh_golang:

